/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.search-row {
  padding-top: 240px;
}
.product-detail-layout-5 {
  padding-top: 220px !important;
}
.product-banner-img {
  min-height: 500px;
}
.storename .direction > a {
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 3px;
  width: 200px;
  min-height: 45px;
  padding: 12px 6px;
  text-align: center;
}
#breadcrumbs {
  display: none;
}
.search-row .plp-view-product {
  color: #f9f9f8 !important;
  background-color: #1723eb !important;
  padding: 12px 24px;
  display: block !important;
  border-radius: 0;
}
.search-row .plp-view-product:hover {
  color: #f9f9f8 !important;
  background-color: #050cc6 !important;
  border-radius: 0;
  text-decoration: none !important;
}
.pdp2-leftbox h1.fl-post-title {
  font-size: 22px !important;
}
.search-row .fl-archive-title {
  margin: 20px !important;
}
.custom_searchModule {
  display: none;
  z-index: 2;
  position: absolute;
  right: 0;
  max-width: 600px !important;
  width: 100%;
}
#djcustom-footer .header-Phone .fl-rich-text > p {
  margin: 0px !important;
}
.homeSlider .fl-content-slider .fl-slide .fl-slide-text > p {
  margin: 0px !important;
}
.gfield_time_ampm select {
  min-width: 60px !important;
  width: 60px !important;
}
.gfield input[type="text"] {
  width: 100% !important;
}
.gfield {
  padding-right: 15px !important;
}
#responsive-menu-additional-content {
  padding: 5px 5% !important;
}
#responsive-menu-additional-content a {
  color: #fff !important;
}
#responsive-menu-search-box {
  padding: 18px 5% !important;
}
.facet_filters strong {
  color: #1723eb !important;
}
button#responsive-menu-button {
  width: 40px !important;
  height: 40px !important;
}
.TopBar .storename .address {
  display: flex;
  position: relative;
  z-index: 10;
}
.TopBar .storename .address > p:last-child {
  margin-left: 4px;
}
ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul#topbar li {
  float: left;
  list-style-type: none;
}
ul#topbar li a {
  color: #f9f9f8;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
ul.social-icons {
  text-align: center;
}
ul#topbar li a:hover {
  color: #414042;
}
.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select {
  width: 60px !important;
  max-width: 60px !important;
  height: 45px;
  padding: 10px !important;
}
.gform_wrapper .gfield_time_hour i {
  margin-top: 20px !important;
}
form select {
  padding: 6px 5px !important;
}
.button-wrapper-default a:hover {
  background: #ffb734;
  border: 2px solid #ffb734;
}
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-ancestor > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-parent > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li.current-menu-item > a,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li > a:focus {
  color: #981f2c;
}
.gform_wrapper ul.gfield_checkbox li input[type="checkbox"],
.gform_wrapper ul.gfield_radio li input[type="radio"] {
  margin-top: 3px !important;
  vertical-align: top !important;
}
.fl-page-nav-right .fl-page-nav-wrap a:hover,
.fl-page-nav-right .fl-page-nav-wrap a:focus,
.fl-page-nav-right .fl-page-nav-wrap a:hover *,
.fl-page-nav-right .fl-page-nav-wrap a:focus *,
.fl-page-nav-right .fl-page-nav-wrap a.fas:hover,
.fl-page-nav-right .fl-page-nav-wrap a.fab:hover,
.fl-page-nav-right .fl-page-nav-wrap a.fas:focus,
.fl-page-nav-right .fl-page-nav-wrap a.fab:focus {
  color: #981f2c;
}
.fl-page-nav-search form {
  border-top: 3px solid #981f2c;
}
.uabb-gf-style .gform_wrapper .gfield_checkbox li label,
.uabb-gf-style .gform_wrapper .gfield_radio li label {
  vertical-align: top;
}
.storename {
  margin-bottom: 0px !important;
}
.fl-page-header-primary {
  border-bottom: 6px solid #1b25e5;
}
.fl-page-bar .storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.addressBox .storename .phone a span:before,
.TopBar .storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.TopBar .storename a:hover span,
.TopBar .storename .address:hover > p {
  color: #414042 !important;
}
.header-Phone .storename .phone a span:before {
  margin-right: 15px !important;
}
.store-opening-hrs {
  padding-left: 0px !important;
  list-style: none;
}
.storename .store-opening-hrs li {
  position: relative !important;
}
.storename .store-opening-hrs li > span {
  position: absolute !important;
  right: 0;
}
.gform_body
  input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]):not(
    [type="button"]
  ):not([type="image"]):not([type="file"]) {
  width: 100%;
}
.uabb-gf-style
  .gform_wrapper
  ul.gform_fields
  li.gfield:not(.gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
  padding-right: 15px;
}
@media (min-width: 1024px) {
  .rugshop {
    color: #333 !important;
  }
  .rugshop:hover {
    color: #1723eb !important;
  }
}
@media (min-width: 992.5px) {
  .footerAddressBox .storename .address a {
    display: flex !important;
  }
}
@media (max-width: 1024px) {
  .LogoModule .fl-module-content {
    margin-top: 0px !important;
  }
  .fl-builder-content[data-type="header"].fl-theme-builder-header-sticky {
    left: 0;
    position: absolute !important;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  #responsive-menu-container .phone span:before {
    content: "\f095" !important;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    margin-right: 4px !important;
    vertical-align: middle;
  }
  .LogoColumn > .fl-col-content {
    margin-top: 0px !important;
  }
  .hideontablet {
    display: none !important;
  }
  .TopBar {
    display: none;
  }
  .TopBar .storename .address {
    display: block;
  }
  .style-product_list .pro-container .row .col-md-7 {
    width: 100% !important;
    min-height: 400px !important;
  }
  ul#topbar li a {
    font-size: 11px;
    padding: 5px;
  }
  .fl-page-nav .navbar-nav li > a {
    padding: 15px 8px;
    font-size: 13px;
  }
}
@media (max-width: 992px) {
  footer .storename .address a {
    display: inline-block !important;
  }
  .fl-builder-content .uabb-infobox-title {
    margin-top: -0px !important;
    margin-bottom: 0;
  }
  .fl-page-header-wrap .fl-page-header-container {
    padding: 10px 20px !important;
  }
  button#responsive-menu-button {
    width: 40px;
    height: 40px;
  }
  ul#topbar > li:last-child {
    display: block !important;
  }
  .social-icons-container {
    text-align: center;
  }
  .fl-button span.fl-button-text {
    color: #fff;
  }
  .uabb-gf-style .gform_wrapper .gform_footer input[type="submit"] {
    width: auto !important;
    color: #fff;
  }
}
.footerAddressBox .storename .address a p {
  padding: 0;
  margin-bottom: 0;
}
.footerAddressBox .storename .address a p:last-child {
  margin-left: 4px;
  padding: 0;
  margin-bottom: 0;
}
.footerAddressBox .phone a > span {
  font-size: 18px !important;
}
.footerAddressBox .storename .phone a span:before {
  content: "\f095";
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  font-size: 19px !important;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  margin-right: 5px;
}
.gform_footer {
  padding-right: 20px !important;
}

@media (max-width: 992px) {
  #rmp_menu_trigger-1133891 {
    margin-top: 60px !important;
  }
  .storename .store-opening-hrs li span {
    /* margin-left:20px */
  }
  .search-row {
    padding-top: 210px;
  }
  footer .storename .address a {
    display: inline-block !important;
  }
  footer .storename .address a > p {
    width: 100% !important;
  }
  .storename .store-opening-hrs li {
    position: relative;
  }
  .storename .store-opening-hrs li span {
    margin-left: 0;
    position: static !important;
    left: unset;
  }
  #menu-copyright-bar-menu > li {
    text-align: center !important;
  }
  .max-width-issue-four img {
    max-width: 400px !important;
    width: 100% !important;
  }
  .LogoModule a > img {
    max-width: 140px;
  }
  .fl-slide .fl-slide-foreground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .fl-slide .fl-slide-foreground .fl-slide-content {
    background-color: transparent !important;
  }
  .max-width-issue {
    margin: 0 auto;
    max-width: 360px !important;
  }
  .max-width-issue_two img {
    margin: 0 auto;
    max-width: 360px !important;
  }
  .fl-page-header-logo {
    text-align: left !important;
  }
  button#responsive-menu-button {
    top: 45px !important;
  }
  .fl-page-content ul,
  .fl-page-content ol {
    padding-left: 20px;
    margin: 0;
  }
  .fl-page-content .uabb-infobox,
  .fl-page-content .uabb-infobox *,
  .uabb-ultb3-box *,
  .fl-page-content .fl-module-content.fl-node-content ul.storename * {
    text-align: center;
  }
  .fl-page-content .fl-module-content.fl-node-content ul *,
  .fl-page-content .fl-module-content.fl-node-content ol *,
  .fl-page-content .facet_filters *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content ul *,
  .fl-page-content .text_left_content .fl-module-content.fl-node-content * {
    text-align: left;
  }
  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */
  .uabb-module-content.uabb-dual-button {
    justify-content: center;
  }
  footer .fl-col-small:not(.fl-col-small-full-width) {
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .fl-page-header-primary .fl-logo-img {
    max-width: 300px !important;
  }
}
@media (max-width: 768.5px) {
  footer .storename .address a {
    display: inline-block !important;
  }
}

@media (max-width: 767px) {
  .storename .store-opening-hrs li span {
    /* left:auto;
        right:0 */
  }
  .search-row .product-grid {
    padding: 0 20px !important;
  }
  button#responsive-menu-button {
    top: 45px !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 60%;
    float: left;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 40%;
    float: right;
  }
  .fl-page-bar .fl-page-bar-row .text-left * {
    text-align: left !important;
  }
  ul#topbar > li:last-child {
    float: right !important;
  }
  .fl-module-heading h1.fl-heading {
    line-height: 48px !important;
  }
}

@media (max-width: 480px) {
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}

@media (max-width: 450px) {
  .max-width-issue_two img {
    margin: 0 auto;
    max-width: 100% !important;
  }
  .fl-page-bar .fl-page-bar-row .text-left {
    width: 66%;
    float: left;
    padding: 0;
  }
  .fl-page-bar .fl-page-bar-row .text-right {
    width: 34%;
    float: right;
    padding: 0;
  }
  .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width {
    width: 100% !important;
  }
  .fl-page-header-primary .fl-logo-img {
    max-width: 80% !important;
  }
  button#responsive-menu-button {
    top: 45px !important;
  }
  .page-template-floorte_hardwood h2:nth-child(1) {
    padding: 0 20px !important;
  }
}
footer li a:hover,
footer li a:hover span {
  text-decoration: underline !important;
}
.ginput_container_checkbox .gfield_checkbox .gchoice label a:hover {
  color: #050cc6;
}
/*Filter Select Design*/
.facetwp-selections ul:before {
  content: "Your Selection";
  font-weight: 700;
  font-size: 16px;
  border-bottom: 2px solid #1723eb;
  padding: 0px;
  width: 100% !important;
  position: relative;
  display: block;
  margin-bottom: 5px;
  color: #000;
  padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label {
  font-size: 16px;
  font-weight: 700;
  color: #000;
}
.facetwp-selections ul li {
  width: 100%;
  display: block;
  margin: 5px 0;
}
.facetwp-selections ul li .facetwp-selection-value {
  font-size: 16px;
  color: #000;
}
.facetwp-selections ul {
  padding-left: 0px;
  margin-bottom: 20px;
}
@media (max-width: 820px) {
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
}
@media (max-width: 600px) {
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100%;
    float: left;
    clear: none !important;
  }
}
@media (max-width: 1180px) {
  #header-mob .fl-module-content.fl-node-content {
    margin: 0 auto;
    display: table;
  }
  #header-mob .address {
    margin-top: 10px;
  }
  #header-mob .address p {
    float: left;
    margin-right: 5px;
    width: auto;
    display: table-caption;
    margin-bottom: 0px;
  }
  #header-mob .address p {
    margin-bottom: 0px;
  }
  #header-mob {
    display: none;
  }
  #rmp_menu_trigger-1133891 {
    top: 60px;
  }
}
@media screen and (max-width: 1179px) {
  #header-mob {
    display: block;
  }
}
@media screen and (max-width: 1024px) {
  #rmp_menu_trigger-1133891 {
    display: block;
    margin-top: 30px !important;
  }
}
@media screen and (max-width: 820px) {
  #rmp_menu_trigger-1133891 {
    margin-top: 60px !important;
  }
}
@media (max-width: 374px) {
  #header-mob .address p {
    font-size: 11px;
    margin-bottom: 0;
  }
}

@media (max-width: 321px) {
  .rmp-container .rmp-menu-wrap .rmp-menu .rmp-menu-item-link {
    font-size: 13px !important;
  }
  .rmp-container .rmp-menu-wrap .rmp-menu .rmp-submenu .rmp-menu-item-link {
    font-size: 10px !important;
  }
}
